/* login.php */
.main-login {
    padding-top: 300px;
}

#login-judul {
    font-size: 32px;
}

.login {
    padding-left: 50px;
    float: right;
    margin-top: 25px;
}

img.login-pic {
    float: right;
    padding-left: 35%;
}

/* registrasi.php */
#judul-regis {
    font-size: 32px;
    padding-top: 225px;
}

.latar {
    height: 100%;
    width: 100%;
    display: flex;
}

/* login.php & registrasi.php */
form {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
    padding-left: 35%;
    padding-right: 35%;
}
